<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="../../Content/themes/base/jquery-ui.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>
    <script>$(function () {
    $("#submitPopUp").dialog({
        autoOpen: false,
        height: 450,
        width: 450
    });
    $("#submitButton").click(function () { $("#submitPopUp").dialog("open") });
});

    </script>
    

    @RenderSection("scripts", required: false)
    <script src="../../Scripts/moment.min.js" language="javascript" type="text/javascript"></script>
    <script src="../../Scripts/fullcalendar.js" language="javascript" type="text/javascript"></script>
    <script src="../../Scripts/site.js" language="javascript" type="text/javascript"></script>
</body>
</html>
